.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.loginForm {
    width: 300px;
    padding-bottom: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
}

.loginHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    background-color: rgb(51, 51, 51);
}

.formHeading {
    margin: 0px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: rgb(255, 173, 51);
}

.loginFormLabel {
    color: rgb(51, 51, 51);
    font-size: 18px;
}

.loginInput {
    width: 90%;
    margin: 0px auto;
    padding-top: 20px;
}

.loginFormInput {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    outline: none;
}

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton {
    width: 150px;
    padding: 14px 20px;
    margin: 30px 0;
    background-color: rgb(255, 173, 51);
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginButton:hover {
    opacity: 0.8;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
