.header{
    background-color: rgb(51, 51, 51);
    padding: 10px 0px;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoText{
    margin: 0px;
    font-size: 25px;
    color: rgb(255, 173, 51);
}

.candidatesSection{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.candidatesBtn{
    width: 150px;
    height: 40px;
    border: 1px solid rgb(255, 173, 51);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.candidateLink{
    font-size: 18px;
    color: rgb(255, 173, 51);
    text-decoration: none;
    margin: 0px 0px 0px 10px;
}

.candidateLink:hover{
    color: rgb(255, 173, 51);
}


/*Media screen style*/
@media screen and (min-width: 1400px) and (max-width: 6000px) {
    .logoText{
        width: 210px;
    }

    .candidatesSection{
        width: 1110px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .logoText{
        width: 210px;
    }

    .candidatesSection{
        width: 930px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .logoText{
        width: 210px;
    }

    .candidatesSection{
        width: 750px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .logoText{
        width: 210px;
    }

    .candidatesSection{
        width: 510px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .logoText{
        width: 210px;
    }

    .candidatesSection{
        width: 330px;
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .headerContainer{
        justify-content: center;
    }

    .logoText{
        width: 210px;
    }

    .candidatesSection{
        width: auto;
        margin-left: 25px;
    }

    .candidatesBtn{
        width: 50px;
    }

    .candidateLink{
       display: none;
    }
}